general:
  # Языковой файл (lang_*.yml), например: "en", "ru".
  lang: "en"
  debug:
    # Выводить ли отладку в консоль.
    console: true
    hitboxes:
      # Дефолтная дальность рендера хитбоксов.
      default-range: 20
      # Максимальная дальность рендера хитбоксов.
      max-range: 100
      # Интервал отрисовки хитбоксов в тиках.
      render-interval-ticks: 2

physics:
  # Точность вычислений: DP (double precision) или SP (single precision).
  precision: DP
  # Количество потоков для генерации/обработки физики.
  worker-threads: 2
